body {
	margin: 0;
	font-family: StreetCornerBold, Poppins, Lucida Handwriting;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-image: url('./background.jpg'); */
	background: rgb(40, 209, 231);
	background: linear-gradient(
		0deg,
		rgba(40, 209, 231, 1) 0%,
		rgb(5, 21, 73) 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

@font-face {
	font-family: 'StreetCornerBold';
	src: url('StreetCornerBold.woff') format('woff'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
			url('StreetCornerBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */
