.DefaultDashboard {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: -9px;
	/* border-width: medium;
	border-style: solid;
	border-color: #dbb95f; */
	width: 100%;
	height: 600px;
	padding-bottom: 1rem;
	position: relative;
}

.DefaultDashboard > Button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16%;
	padding-right: 16%;
}

.DashboardCards {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

.DashboardCard {
	border-width: medium;
	border-style: solid;
	background-color: #6bbf30;
	border-radius: 100%;
	text-align: center;
	padding: 0.5rem;
	margin: auto;
	height: 200px;
	width: 200px;
	margin-top: -1vw;
	font-size: 25px;
	position: relative;
}

.statistic {
	position: relative;
	font-weight: bold;
	font-size: 35px;
	vertical-align: top;
	margin-top: -10px;
	margin-bottom: -10px;
	top: -20px;
}

/* .DashboardCards img {
	height: 6rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */

.DashboardCards li {
	list-style-type: none;
	float: left;
	width: 50%;
	flex-basis: 100%;
}

.DashboardCards ul {
	display: inline;
}

#LargeDonate {
	width: 70%;
	height: 10%;
	position: relative;
	top: 50px;
}

@media only screen and (max-width: 600px) {
	.DashboardCards {
		flex-direction: column;
		align-items: center;
	}
	.DefaultDashboard {
		width: 75%;
		height: 1200px;
	}
	.DashboardCards li {
		width: 90%;
	}
	.DashboardCard {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.DefaultDashboard {
		width: 90%;
	}
}

@media only screen and (min-width: 768px) {
	.DefaultDashboard {
		width: 85%;
	}
}