#Title {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#Sun {
	width: 40%;
	position: absolute;
	left: 30%;
	top: 30%;
	z-index: -10;
	transform: translate(-50%, -50%);
}

#Subtitle {
	position: absolute;
	width: 30%;
	top: 77%;
	left: 50%;
	text-align: center;
	font-size: 2vw;
	transform: translate(-50%, -50%);
}
